{% extends "layouts/base.html" %}


{% comment %} <div class="container-fluid py-4">
  <h1>Income Details</h1>

  <p><strong>Category:</strong>{{ income.category }}</p> <!-- author detail link not yet defined -->
  <p><strong>Amount:</strong> {{ income.amount }}</p>
  <p><strong>Date:</strong> {{ income.date }}</p>
  <p><strong>Description:</strong> {{ income.description }}</p>
  <p><strong>Associated Project:</strong> {{ income.project_name }}</p>
  <p><strong><a href="{% url 'income-update' pk=income.income_id %}">Edit </a><a href="{% url 'income-delete' pk=income.income_id %}" class="btn btn-outline-danger">Delete</a> </strong></p>
  <p><strong><a href="{% url 'income-add' %}">Add </a></strong></p>
</div> {% endcomment %}
{% block content %}
<div class="container-fluid py-4">
  <h3>Income Details</h3>
  <table class="table">
    <tr>
      <td><strong>Category:</strong></td>
      <td>{{ income.category.title }}</td>
    </tr>
    <tr>
      <td><strong>Amount:</strong> </td>
      <td> {{ income.amount }}</td>
    </tr>
    <tr>
      <td><strong>Date:</strong></td>
      <td> {{ income.date }}</td>
    </tr>
    <tr>
      <td><strong>Description:</strong></td>
      <td> {{ income.description }}</td>
    </tr>
    <tr>
      <td><strong>Associated Project:</strong></td>
      <td> {{ income.project_name }}</td>
    </tr>
    </table>
    <span><strong><a href="{% url 'income-update' pk=income.income_id %}" class="btn btn-outline-success"> Edit </a><a href="{% url 'income-delete' pk=income.income_id %}" class="btn btn-outline-danger">Delete</a> </strong></span><span><strong><a href="{% url 'income-add' %}" class="btn btn-outline-primary"> Add </a></strong></span>
</div> 
{% endblock %}